/* @media (max-width: 1400px) {
     
     .header_button a {
        padding: 15px 40px;
      }
      .last_button {
        margin-top: 4.5vw;
    }
    .header_button a {
        padding: 15px 22px;
    }
    
}
@media (max-width: 1295px) {
    .header_button a {
        
        font-size: 0.8em;
      }
}
@media (max-width: 1200px) {
    .languages a{
        font-size: 1em;
    }
    .first_text p {
        font-size: 0.8em;
      }
      .first_text img {
        width: 60px;
        }
        .header_content_text h2 {
            font-size: 1.8em;
          }
          .header_button a {
            padding: 15px 30px;
            font-size: 0.8em;
          }
          .my_block {
            padding: 15px 20px;
            font-size: 0.9em;
          }
          .color_for_block h2 {
            font-size: 1.3em;
            
          }
          .color_for_block h3 {
            line-height: 1em;
            font-size: 1.3em;
          }
          .bg_photo {
    
              transform: scale(0.6);
          }
          .transparent_statistic a {
            padding: 15px 20px;
          }
          .check {
            margin-top: -2vw;
            margin-left: 1vw;
            font-size: 4em;
          }
          
          .position_text {
            margin-top: 1vw;
          }
          .image_for_block {
            margin-top: 3vw;
          }
          .alhoritm_position{
            margin-top: 14vw;
        }
        .last_block_position {
            margin-top: 11vw;
        }
          .position_text_left h2 {
              font-size: 1.4em;
          }
          .last_button {
            font-size: 0.9em;
          }
          .exchange  div {
            width: 20%;
            padding: 3.6rem;
            height: 8.25rem;
        }
}
@media (max-width: 1015px) {
    .header_button a {
        padding: 15px 20px;
        font-size: 0.8em;
      }
      .block_position img {
        border-radius: 10px;
        width: 98%;
        margin-left: 0.1vw;
        margin-top: -3.8vw;
      }
      .check {
        margin-top: -2.8vw;
        margin-left: 1vw;
        font-size: 4em;
      }
}
@media (max-width: 1001px) {
    .color_for_block h2 {
        font-size: 1.2em;
    }
}
@media (max-width: 992px) {
    .languages a{
        font-size: 0.9em;
        
    }
    .header_content_text h2 {
        font-size: 1.5em;
      }
     
    .header_button a {
        padding: 12px 12px;
        font-size: 0.7em;
      }
      .circle {
        width: 40px;
        height: 40px;
      }
      .header_circle p {
          font-size: 0.9em;
      }
      .check {
        margin-top: -2vw;
        margin-left: 1vw;
        font-size: 3em;
      }
      .transparent_indicator {
          margin-left: -11px;
      }
      .img_money_position img{
        margin-top: 5vw;
    }
      .color_for_block h2 {
        font-size: 1.2em;
      }
      .color_for_block h3 {
        line-height: 1em;
        font-size: 1em;
      }
      .color_for_block p {
        font-size: 0.9em;
      }
      .last_block_position {
          margin-left: -11px;
      }
      .position_text_left h2 {
        font-size: 1.2em;
    }
      .exchange  div {
        width: 25%;
        padding: 2.6rem;
        height: 7.25rem;
      }
}
@media (max-width: 820px) {
    .header_content_text h2 {
        font-size: 1.3em;
      }
        .head_text {
            margin-bottom: 4vh;
        }
        .color_for_block h2 {
            font-size: 1em;
        }
     
}
@media (max-width: 767px) {
    .video_bg video {
        width: auto;
        height: 100%;
      }
    .languages {
        margin-right: 15vw;
    }
    .header_content_image img {
        max-width: 93%;
        border-radius: 17px;
    }
    .first_text p {
        font-size: 0.7em;
    }
    .first_text img {
        width: 6vw;
    }
    .header_content_text h2 {
        font-size: 1.2em;
        margin-bottom: 0vw;
    }
    .header_circle p {
        font-size: 0.7em;
    }
   
    .head_text h2 {
        letter-spacing: 0.1em;
        text-align: center;
        font-size: 1.6em;
        line-height: 1;
        margin-bottom: 1vw;
    }
    .head_discription p {
        width: 100%;
        
    }
    .header_circle p {
        text-align: justify;
      }
      .head_text {
        margin-bottom: 1vh;
    }
   
    .alhoritm_position {
        margin-top: 1vw;
        margin-left: 0vw;
    }
    .bg_photo {

        width: 100%;
        margin-left: -13vw;
    }
    .last_block_position {
        margin-top: 3vw;
        margin-left: 0vw;
    }
    .image_for_block {
        margin-top: 0vw;
    }
    .transparent_indicator {
        margin-left: 3px;
        order: 2;
    }
    .position_text {
        order: 1;
    }
}
@media (max-width: 575px) {
    .position_text {
        margin-top: 11vw;
    }
    .block_position img {
        
        width: 70%;
        margin-left: 12.1vw;
        
    }
    .image_for_block {
        
        width: 80%;
        margin-left: 7.2vw;
    }
    .color_for_block h2 {
        font-size: 1.1em;
    }
    .main_content_image img {
        margin-top: 7vw;
    }
    .header_circle p {
        font-size: 0.6em;
    }
    .transparent_indicator img {
        margin-left: 8.1vw;
    }
}
@media (max-width: 540px) {
    .color_for_block h2 {
        font-size: 1em;
    }
    .check {
        margin-top: -3vw;
        margin-left: 1vw;
        font-size: 3em;
      }
} */
