@media (max-width: 1199px) {
  .video_bg {
    padding-top: 0px;
  }
  .header_content_text h2 {
    font-size: 2em;
  }
  .my_carousel_text {
    font-size: 10px;
  }
  .exchange div {
    width: 33%;
    padding: 4.6rem;
    height: 11.25rem;
    margin: 0;
  }
  .button_btn a {
    font-size: 0.9em;
  }
  .button_btn button {
    padding: 15px 40px;
  }
  .header_button_position button {
    padding: 15px 50px;
  }
}
@media (max-width: 991px) {
  .first_text img {
    max-width: 70px;
  }
  .first_text p {
    margin: -1vh 0px;
    font-size: 0.8em;
  }
  .header_content_text h2 {
    font-size: 1.5em;
  }
  .header_content_text p {
    font-size: 0.9em;
  }
  .exchange div {
    width: 50%;
    padding: 3.6rem;
    height: 11.25rem;
    margin: 0;
  }
  .button_btn a {
    font-size: 1em;
  }
  .button_btn button {
    padding: 15px 50px;
  }
}

@media (max-width: 767px) {
  .head_discription_money {
    display: none;
  }
  .head_discription_money_op {
    display: block;
  }
  .money_save {
    display: none;
  }
  .head_discription_money {
    margin-top: -1vh;
  }

  .money_save_op {
    display: block;
  }
  .pos_leng {
    display: none;
  }
  .position_logo_lang {
    display: block;
    align-items: center;
    padding-top: 0.5vh;
  }

  .languages a {
    font-size: 0.7em;
  }

  .header_content_image {
    text-align: center;
    padding-bottom: 10vh;
  }
  .first_text {
    display: none;
  }
  .first_text_mobile {
    display: block;
    text-align: center;
    border-bottom: none;
    margin-top: 1vh;
    color: #3db3a8;
  }
  .first_text_mobile img {
    max-width: 40px;
  }
  .first_text_mobile p {
    margin: -1vh 0px;
    font-size: 0.8em;
  }

  .header_content_image img {
    width: 50%;
    align-items: right;
    height: auto;
    border-radius: 40px;
    box-shadow: 1px 1px 10px 2px #b54bc9;
    animation: rotates 1s linear infinite alternate;
  }
  .header_content_text h2 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 15px;
  }
  .main_content_image {
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
  .position_text_left {
    text-align: center;
  }
  .head_text {
    margin-bottom: 0vh;
  }
  .exchange div {
    width: 50%;
    padding: 3.6rem;
    height: 11.25rem;
    margin: 0;
  }
}

@media (max-width: 540px) {
  .my_carousel_text {
    font-size: 6px;
  }
}
@media (max-width: 499px) {
  .languages a {
    font-size: 0.6em;
  }
  .head_text h2 {
    letter-spacing: 0em;
    font-size: 28px;
  }
  .head_text p {
    font-size: 0.8em;
  }
  .color_for_block h2 {
    font-size: 1.1em;
  }
  .color_for_block p {
    font-size: 1em;
  }
  .color_for_block h3 {
    line-height: 1;
    font-size: 1.2em;
    margin-bottom: 2vh;
  }
  .header_circle p {
    font-size: 0.9em;
  }
  .head_discription p {
    font-size: 0.9em;
  }
  .first_text_mobile p {
    margin: -1vh 0px;
    font-size: 0.7em;
  }
  .header_content_text h2 {
    font-size: 1.4em;
    margin-bottom: 10px;
  }
  .circle {
    width: 40px;
    height: 40px;
  }
  .check {
    font-size: 3em;
  }
  .my_block {
    font-size: 0.9em;
  }
}
@media (max-width: 437px) {
  .header_content_text h2 {
    font-size: 1.2em;
    margin-bottom: 0px;
    padding: 10px 0px;
  }
  .header_content_text p {
    font-size: 0.8em;
  }
  .header_circle_position {
    margin-right: 25px;
  }
  .color_for_block h3 {
    line-height: 1;
    font-size: 1.2em;
  }
  .head_text h2 {
    letter-spacing: 0em;
    font-size: 24px;
  }
  .color_for_block p {
    font-size: 0.9em;
  }
}
@media (max-width: 398px) {
  .header_content_text p {
    font-size: 0.7em;
  }
  .color_for_block p {
    font-size: 0.8em;
  }
  .languages a {
    font-size: 0.5em;
  }
  .button_btn button {
    padding: 14px 35px;
  }
  .header_content_image img {
    border-radius: 20px;
  }
  .header_content_text h2 {
    font-size: 1em;
  }
  .button_btn button {
    padding: 12px 22px;
  }
  .header_content_image {
    padding-bottom: 5vh;
  }
  .image_for_block {
    border-radius: 16px;
  }
  .exchange div {
    width: 50%;
    padding: 2.6rem;
    height: 7.25rem;
    margin: 0;
  }
}

@media (max-width: 377px) {
  .button_btn button {
    padding: 12px 22px;
  }

  .header_content_text p {
    font-size: 0.6em;
  }
}
@media (max-width: 336px) {
  .languages a {
    font-size: 0.4em;
  }

  .button_btn button {
    padding: 11px 20px;
  }
}
@media (max-width: 321px) {
  .header_content_text h2 {
    font-size: 0.9em;
  }
  .header_content_text p {
    font-size: 0.5em;
  }
  .button_btn button {
    font-size: 0.8em;
    padding: 10px 18px;
  }
}
