body {
  margin: 0 auto;
  box-sizing: border-box;
  font-family: roboto, sans-serif;
  color: #fff;
  background-color: #080a0f;
}
.hero {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.video_bg {
  position: fixed;
  padding-top: 50px;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: #080a0f;
  overflow: hidden;
}
.video_bg video {
  width: 100%;
  height: auto;
  /* animation: 3s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden; */
}
/* @keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
} */
.hidden {
  display: none;
}
.video_overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  display: block;
  bottom: 6px;
  right: 0;
  top: 0;
  left: 0;
}
.intro {
  position: relative;
  margin: 4% 0px 12% 0px;
}
.position_logo_lang {
  display: none;
}
.languages {
  text-align: right;
}
.first_text_mobile p {
  text-align: left;
}
.languages a {
  text-decoration: none;
  color: #fff;
  margin-left: 1vw;
  font-size: 1.1em;
}
.languages a:hover {
  color: #3db3a8;
}
.languages .active {
  color: #3db3a8;
}
.first_text {
  display: inline-block;
  border-bottom: 1px dashed #fff;
  font-weight: 600;
  color: #3db3a8;
}
.first_text img {
  max-width: 80px;
}
.first_text p {
  margin: -1vh 0px;
  text-transform: uppercase;
}
.header_content_text h2 {
  text-transform: uppercase;
  padding-top: 8px;
  padding-bottom: 35px;
  font-size: 2.2em;
  font-weight: 600;
  line-height: 1.5em;
}

.header_circle {
  display: flex;
  margin-top: 20px;
}
.header_circle_position {
  margin-right: 25px;
}
.circle {
  position: relative;
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 3px #7c788b;
}
.check {
  position: absolute;
  display: flex;
  color: #3db3a8;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
  font-size: 4em;
}
.header_circle p {
  line-height: 1.5em;
}
.header_content_image {
  position: sticky;
  top: 32px;
}
.header_content_image img {
  width: 100%;
  height: auto;
  border-radius: 40px;
  box-shadow: 1px 1px 10px 2px #b54bc9;
  animation: rotates 1s linear infinite alternate;
}
@keyframes rotates {
  0% {
    transform: rotate(8deg);
  }

  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-8deg);
  }
}
.header_button_position {
  margin-top: 50px;
}

.button_btn {
  text-align: center;
  padding: 10px 0px 20px 0px;
}

.button_btn button {
  display: inline-block;
  background-color: #3db3a8;
  padding: 12px 38px;
  border: 2px solid #fff;
  border-radius: 10px;
  font-weight: 600;
  box-shadow: 1px 1px 15px 6px #3db3a8;
  color: #000;
  text-transform: uppercase;
  animation: scale 1.5s linear infinite alternate;
}

.button_btn button:hover {
  background-color: #b54bc9;
  box-shadow: 1px 1px 15px 5px #b54bc9;
  animation: scale2 1s linear infinite alternate;
}
@keyframes scale {
  0% {
    box-shadow: 1px 1px 15px 6px #3db3a8;
  }
  50% {
    box-shadow: 1px 1px 10px 0px #3db3a8;
  }
  100% {
    box-shadow: 1px 1px 15px 6px #3db3a8;
  }
}
@keyframes scale2 {
  0% {
    box-shadow: 1px 1px 15px 6px #b54bc9;
  }
  50% {
    box-shadow: 1px 1px 10px 0px #b54bc9;
  }
  100% {
    box-shadow: 1px 1px 15px 6px #b54bc9;
  }
}

.main_second {
  margin-top: 15vh;
}
.head_text {
  text-align: center;
  margin-bottom: 8vh;
  color: #b54bc9;
}
.head_text h2 {
  letter-spacing: 0.2em;
  font-size: 30px;
  margin-bottom: 1vw;
  color: #3db3a8;
  text-transform: uppercase;
}

.head_discription p {
  text-align: justify;
}
.main_content_image {
  position: sticky;
  top: 32px;
}
.main_content_image img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 2px #b54bc9;
  height: auto;
}

.main_content_text {
  padding-left: 5vw;
}
.header_circle span {
  font-weight: 700;
  color: #3db3a8;
}
.header_circle p {
  text-align: justify;
}
.circle_span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.position_third {
  margin-top: -5vw;
}
.third_text {
  margin-bottom: 30px;
}
.my_block {
  background-color: rgba(0, 0, 0, 0.699);
  padding: 15px 30px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 2px #b54bc9;
  margin-top: 25px;
  height: calc(100% - 25px);
}

.position_b_span span {
  text-align: justify;
  display: block;
  line-height: 1.4em;
}
.my_block b {
  text-transform: uppercase;
  text-align: center;
}
.position_b b {
  display: block;
  text-align: center;
  padding-bottom: 4px;
}
.leter {
  text-align: center;
  margin-bottom: 10px;
}
.money_ic {
  text-align: center;
  margin-bottom: 10px;
}
.leter span {
  color: #3db3a8;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 5px 10px;
}
.money_ic span {
  color: #3db3a8;
  text-align: center;
}
.money_ic span i {
  font-size: 30px;
}
.intro_border {
  padding: 40px;
  border: 5px solid #3db3a8;
  border-radius: 15px;
  box-shadow: inset -1px 1px 20px 1px #3db3a8;
}
.color_for_block h2 {
  font-size: 1.6em;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
.color_for_block h3 {
  text-align: center;
  color: #fff;
  text-transform: uppercase;

  margin-top: 1.3em;
}
.color_for_block p {
  text-align: center;
  font-size: 18px;
}
.six_sectipn_p {
  margin-top: 20px;
  padding-top: 20px;
}
.color_for_block .six_sectipn_p p {
  font-size: 20px;
}
.image_for_block {
  position: sticky;
  top: 32px;
  border: 1px solid #3db3a8;
  box-shadow: -2px -3px 20px -2px #3db3a8;
}
.image_for_block img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 0px;
  height: auto;
  border-radius: 20px;
}
.for_button a {
  box-shadow: 1px 1px 15px 5px #3db3a8;
  background-color: #3db3a8;
}
/* Carousel */
.my_carousel {
  box-shadow: 0px 0px 10px 4px #3db3a8;
}
.my_carousel .carousel-item {
  /* height: 80vh; */
}
.my_carousel_text {
  font-size: 16px;
}
.my_carousel_text p {
  margin-bottom: 0;
}
.my_carousel_text h5 {
  font-size: 1em;
  text-transform: uppercase;
}
.bg_photo {
  background-color: rgba(49, 47, 47, 0.6);
  border-radius: 10px;
}

.block_position {
  margin-left: 0px;
}

.position_text {
  margin-top: 4vw;
}

.position_text p {
  margin-bottom: 6vw;
}
.position_text p:last-child {
  margin-bottom: 0vw;
}

.position_text_money p {
  margin-bottom: 2vw;
}
.img_money_position {
  padding-top: 32px;
}
.img_money_position img {
  box-shadow: 1px 1px 10px 2px #b54bc9;
  border-radius: 10px;
  width: 100%;
  height: auto;
}
.position_text_left {
  text-align: left;
}
.position_text span {
  font-weight: 700;
  font-size: 1em;
}
.last_block_position {
  margin-left: 0;
}
.last_block_position a {
  padding: 15px 30px;
}
.last_block_text h2 {
  font-size: 29px;
}
.last_button {
  margin-top: 0.5vw;
}
.last_button img {
  margin-top: -2.5vw;
  border-radius: 10px;
  width: 98%;
  margin-left: 0.2vw;
  padding-bottom: 50px;
}
.exchenge_header {
  color: #3db3a8;
}

.exchange {
  margin-top: 4vw;
}
.exchange div {
  width: 20%;
  padding: 4.6rem;
  height: 11.25rem;
  margin: 0;
  border: 1px solid #3db3a8;
  background-color: rgba(31, 29, 29, 0.5);
}
.head_discription_money {
  margin-top: -10vh;
  text-align: center;
  margin-bottom: 5vh;
}
.position_b_span h6 {
  margin-top: 2vh;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
}
.position_b_span h6 span {
  text-align: center;
  text-transform: lowercase;
}
.money_discript {
  margin-top: 8vh;
}
.money_discript p {
  text-align: justify;
}
.money_save_op {
  display: none;
}
.head_discription_money_op {
  display: none;
}
.section__plus {
  margin-left: 10px;
  display: inline-block;

  padding: 2px 12px;
  border: 1px solid #fff;
  border-radius: 5px;
  font-weight: 600;
  color: #fff;
  background-color: transparent;
  text-decoration: none;
}
.section__plus:hover {
  color: #fff;
}

.section__plus_text-first {
  display: flex;
  justify-content: center;
}
.section__plus_text-two {
  display: flex;
  justify-content: space-evenly;
}
.section__plus_header h2 {
  border-radius: 4px;
  box-shadow: 0px 0px 10px 4px #3db3a8;
}
.container__card {
  margin-top: 150px;
}

.block__card_wrapper {
  position: relative;
  display: block;
  margin: 15px 30px;
  padding-bottom: 110px;
}
.block__card {
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  padding: 15px 30px;
  border-radius: 10px;
  margin-top: 15px;
  height: calc(100% - 25px);
  margin: 0px 20px;

  border: 2px solid #3db3a8;
  box-shadow: 0px 0px 10px 4px #3db3a8;
}
.block__card_wrapper::after {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid #b54bc9;
  background-color: rgba(181, 75, 201, 0.8);
  box-shadow: 0px 0px 10px 4px #b54bc9;
  border-radius: 10px;
  z-index: -1;
}

.block__card_price_first {
  margin: 20px;
  padding: 0px;
  display: inline-block;
  border-radius: 40%;
  padding: 3px 7px 7px 7px;
  background-color: #3db3a8;
  line-height: 18px;
  text-transform: uppercase;
}
.block__card_price_deposit {
  margin-top: 10px;
  margin-bottom: 25px;
}
.block__card_price_deposit span {
  color: #3db3a8;
}

.block_card_button a {
  width: 230px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0%);
  text-decoration: none;
  display: inline-block;
  background-color: #3db3a8;
  padding: 10px 28px;
  border: 2px solid #fff;
  border-radius: 10px;
  font-weight: 600;
  box-shadow: 1px 1px 15px 6px #3db3a8;
  color: #000;
  text-transform: uppercase;
  animation: scale 1.5s linear infinite alternate;
  font-size: 16px;
}
.section__plus_image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section__plus_image img {
  max-width: 100%;
  max-height: 100%;
}
.img__crypto img {
  max-width: 50%;
  max-height: 50%;
}
.img__hend img {
  max-width: 50%;
  max-height: 50%;
}
.img__flex_plus {
  display: flex;
  justify-content: center;
}