@font-face {
  font-family: 'icons';
  src:  url('fonts/icons.eot?7hc6to');
  src:  url('fonts/icons.eot?7hc6to#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?7hc6to') format('truetype'),
    url('fonts/icons.woff?7hc6to') format('woff'),
    url('fonts/icons.svg?7hc6to#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic_hand:before {
  content: "\e900";
}
.ic_money:before {
  content: "\e901";
}
.ic_solid:before {
  content: "\e902";
}
.ic_solid1:before {
  content: "\e903";
}
.ic_solid2:before {
  content: "\e904";
}
.ic_solid3:before {
  content: "\e905";
}
.ic_solid4:before {
  content: "\e906";
}
.ic_solid5:before {
  content: "\e907";
}
.ic_solid6:before {
  content: "\e908";
}
.ic_solid7:before {
  content: "\e909";
}
.ic_solid9:before {
  content: "\e90a";
}
.ic_check_solid:before {
  content: "\e90b";
}
